<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connects</title>
    <link rel="icon" href="images/logo.svg" type="image/svg+xml" sizes="128x128">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div id="tab">
            <ul id="list_tab">
                <li id="tools">
                    <header>
                        <span class="name">Tools</span>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="library">
                    <header>
                        <span class="name">Library</span>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="documents">
                    <header>
                        <span class="name">Documents</span>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="more">
                    <header>
                        <span class="name">More</span>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
            </ul>
        </div>
        <div id="toolbar">
            <ul id="list_toolbar">
                <li id="search">
                    <svg>

                    </svg>
                    <div class="search_box"></div>
                </li>
                <li id="account">
                    <svg>

                    </svg>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>