{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connects</title>
    <link rel="icon" href="{% static 'images/logo_32.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div id="tab">
            <ul id="list_tab">
                <li id="tools">
                    <header>
                        <a href="./tools" class="name">Tools</a>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="library">
                    <header>
                        <a href="./library" class="name">Library</a>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="documents">
                    <header>
                        <a href="./documents" class="name">Documents</a>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
                <li id="more">
                    <header>
                        <a href="#" class="name">More</a>
                    </header>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
            </ul>
        </div>
        <div id="toolbar">
            <ul id="list_toolbar">
                <li id="search">
                    <svg>

                    </svg>
                    <div class="search_box"></div>
                </li>
                <li id="account">
                    <svg>

                    </svg>
                    <div class="item_box">
                        <ul class="items"></ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>